{%extends 'all-gallery/base.html'%}
{% block content %}
{{ block.super}}

<div class="container"style="background-image: url(https://www.textures.com/system/gallery/photos/Plaster/Stucco/108984/ConcreteStucco0248_1_350.jpg);">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-outline-secondary"><a href="/location/1">kigali</a></button>
      <button type="button" class="btn btn-outline-secondary"><a href="/location/2">city</a></button>
      <button type="button" class="btn btn-outline-secondary"><a href="/location/3">art</a></button>
    </div>
  </div>

  <div class="row">
    <!-- Looping through news   -->
    {% for gallery in gallery %}

    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ gallery.post }} </h2>
      <img class="foto" data-toggle="modal" data-target="#myModal{{gallery.id}}" src="{{gallery.image.url}}" class="img-responsive"
        width="500" height="400" alt="Image" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
    
    <div class="modal" id="myModal{{gallery.id}}">
      <div class="modal-dialog">
        <div class="modal-content">

          Modal Header
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <img src="{{gallery.image.url}}" class="img-responsive" width="600" alt="Image">
          </div>

          <!-- Modal body -->
          <!-- <div class="modal-body">
            <h4 class="modal-title"><strong>Description:</strong>{{ gallery.description}}</h4>
            <p><strong>Posted:</strong> {{gallery.pub_date|timesince}}</p>
            <p><strong>Copy image address...</strong><a href="http://127.0.0.1:8000{{gallery.image.url}}" id="myInput"> http://127.0.0.1:8000{{gallery.image.url}}</a></p>
          </div> -->

          <!-- Modal footer -->
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No gallery Photo</h2>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}